.carousel {
    max-width:fit-content;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.185);
    
    background-color: #000000;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
  }
  
  img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    opacity: 94%;
  }
  
  .prec, .succ {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #DDDDDD;
    color: rgb(45, 45, 45);
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    margin-inline: 2%;
  }
  
  .succ {
    right: 0;
    background-color: white;
  }
  
  .prec:hover, .succ:hover {
    background-color: #000000;
    color: black;
  }
  
  @media screen and (max-width: 768px) {
    .carousel {
     visibility: hidden;
      height: fit-content;
    }
    img{
        object-fit: scale-down;
    }
    .prec, .succ {
        width: 20px;
    height: 20px;
    padding:0;
    }

  }
  