
<div *ngIf="albumList != null ; else loading">
	<div *ngFor="let i of albumList">
		<div class="overflow-hidden rounded-lg shadow transition hover:shadow-lg w-5/6 flex items-center"
			style="margin:auto; margin-top: 2%;" *ngIf="i.id == id">
			<img [attr.src]="i.coverUrl" class="h-64 w-64 w-full object-cover" />

			<div class="bg-white p-4 sm:p-6">
				<time datetime="2022-10-10" class="block text-xs text-gray-500">
					{{i.artist}}
				</time>

				<a href="#">
					<h3 class="mt-0.5 text-lg text-gray-900">
						{{i.title}}
					</h3>
				</a>
				<h5>{{i.genre}}</h5>
				<p class="mt-2 text-sm/relaxed text-gray-500">

					{{i.description}}

				</p>
				<div class="justify-center gap-x-6" style="margin: auto;">
					<a href="#"
						class=" bg-gray-950 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go
						back home</a>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #loading>
	<div class="card" style="width: 50%; margin-top:6%">
		<div class="card-body">
			Impossibile trovare l'album...
		</div>
	</div>
</ng-template>