<div class="wrapper">

    <form class="form-signin"> <h1>Registrati:</h1>
       <input [(ngModel)]="username" type="text" class="form-control" name="username" placeholder="username" /> 
      <input [(ngModel)]="registerEmail" type="email" class="form-control" name="email" placeholder="email address" />
      <input [(ngModel)]="registerPassword" type="password" class="form-control" name="password" placeholder="password" />
      
      <button class="bg-gray-950 hover:bg-gray-950 text-white font-bold py-2 px-4 border border-blue-700 rounded" type="button" (click)="register()">Registrati</button>    
    </form>
    <p>Sei registrato?</p>
    <button routerLink="/login" class="bg-gray-950 hover:bg-gray-950 text-white font-bold py-2 px-4 border border-blue-700 rounded">Login</button>
  </div>