<div class="card-container">
  <div *ngFor="let disco of favoriteAlbums" class="cicloFor">
    <div class="card" style="width: 24rem">
      <img [attr.src]="disco.coverUrl" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ disco.title }}</h5>
        <p class="card-text">{{ disco.artist }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ disco.genre }}</li>
       </ul>
      <div class="card-body">
        <button (click)="onRimuoviDaPreferitiClick(disco.id)" type="button" class="btn">
          <img src="./assets/homepage/paw.png"
            alt="Mi piace" id="miPiace" width="20px" />
        </button>
      </div>
    </div>
  </div>
</div>