<div class="content">
<ul role="list" class="divide-y divide-gray-100">
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="../../../assets/foto_fila/chiara.jpg" alt="">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">Chiara Ferrara</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">chiara.ferrara@stevejobs.academy</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Developer</p>
        
      </div>
    </li>
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="../../../assets/foto_fila/gianmarco.jpg" alt="">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">Gianmarco Culò</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">gianmarco.c@stevejobs.academy</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Developer</p>
        
      </div>
    </li>
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="../../../assets/foto_fila/alberto.jpg" alt="">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">Alberto Cangialosi</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">alberto.cangialosi@stevejobs.academy</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Developer</p>
        <div class="mt-1 flex items-center gap-x-1.5">
          
         
        </div>
      </div>
    </li>
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="../../../assets/foto_fila/fatima.png" alt="">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">Fatima Cangialosi</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">fatima.cangialosi@stevejobs.academy</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Developer</p>
       
      </div>
    </li>
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="../../../assets/foto_fila/gabriele.jpg" alt="">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">Gabriele di Grazia</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">gabriele.digrazia@stevejobs.academy</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Developer</p>
       
      </div>
    </li>
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="../../../assets/foto_fila/massimiliano.jpg" alt="">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">Massimiliano Corsini</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">massimiliano.corsini@stevejobs.academy</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Developer</p>
        <div class="mt-1 flex items-center gap-x-1.5">
          
         </div>
      </div>
    </li>

    <li class="flex justify-between gap-x-6 py-5">
        <div class="flex min-w-0 gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="../../../assets/foto_fila/stefano.jpg" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Stefano Cammarata</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">stefano.cammarata@stevejobs.academy</p>
          </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">Developer</p>
          <div class="mt-1 flex items-center gap-x-1.5">
            
           </div>
        </div>
      </li>
  </ul></div>