<div class="comment-list">
  <div class="card">
    <h5>Commenti:</h5>
    <div *ngFor="let album of albumList">
      <div *ngIf="receivedId == album.id">
      <div *ngFor="let comment of album.comments">
        <div class="card-body">
          <div>
            <img [src]="comment.user.avatar" style="width: 40px">
          </div>
          <div style="margin-left: 10px;">
            <strong>{{ comment.user.username }}</strong> ha commentato il {{ comment.date | date:'medium' }}:<br>
            <div class="commentarea">{{ comment.content }}</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="comment-form">
   <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Commento</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="commentMessage"></textarea>
    <button class="btn btn-dark">Invia Commento</button>
  </div>
</div>
