#allpageinsert {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	margin: auto;
	margin-top: 6%;
}

.col-md-6 {
	margin: auto;
	width: 70%;
}
.cicloFor {
	padding-top: 20px;
}
