<div id="allpageinsert">
	<!-- <div *ngFor="let disco of servizio"."albums" class="cicloFor"> -->
	<!-- <ng-container *ngIf="disco.title === broadcastValue"> -->
	<div class="col-md-6">
		<div
			class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
		>
			<div class="col-auto d-none d-lg-block">
				<!-- <img [attr.src]="disco.img" class="card-img-top" /> -->
				<img
					style="width: 300px"
					src="https://pngimg.com/d/vinyl_PNG95.png"
					class="card-img-top"
					alt="Copertina Album E"
					title="Tuo Orlo"
				/>
			</div>
			<div class="col p-4 d-flex flex-column position-static">
				<!-- <strong
					class="d-inline-block mb-2 text-primary-emphasis"
					style="font-size: 24px"
					>{{ disco.title }}</strong
				> -->
				<h3 class="d-inline-block mb-2 text-primary-emphasis">
					{{ "album.title" }}
				</h3>
				<!-- <h3 class="mb-0">{{ disco.artist }}</h3> -->
				<h3 class="mb-0">{{ "album.artist" }}</h3>
				<div class="mb-1 text-body-secondary">
					<!-- {{ disco.year }}<br /> -->
					<!-- {{ disco.genre }} -->
					{{ "album.year" }}<br />
					{{ "disco.genre" }}
				</div>
				<li class="list-group-item">
					<!-- <ng-template [ngIf]="disco.songs.length == 1">1 brano</ng-template> -->
					<!-- <ng-template [ngIf]="disco.songs.length != 1" -->
					<!-- >{{ disco.songs.length }} brani</ng-template -->
					{{ "album.numero_canzoni" }}
				</li>
				<!-- <div *ngFor="let song of disco.songs"> -->
				<li>{{ "song.title" }}</li>
				<!-- </div> -->
			</div>
		</div>
	</div>
	<!-- </ng-container> -->
	<!-- </div> -->
	<app-form-inserire-disco></app-form-inserire-disco>
</div>
