<!-- FEATURE Preview: al solo inserito del testo/url si potrebbe fare che l'album nella ""card"" della PaginaInserisciDisco, si aggiorni [[[ !!!! - MAGARI, solo dopo che si è finito di scrivere (¿ setTimeOut di 3 sec ?)  e  si è passati ad un'altra casella di INPUT ]]] -->

<div id="form-info-disco" class="commentarea">
	<!-- input url copertina -->
	<mat-form-field appearance="fill">
		<mat-label>Copertina Album URL</mat-label>
		<input [(ngModel)]="song.coverUrl" matInput placeholder="https:/img.album.cover.png/" />
		<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		<mat-hint>Inserisci URL dell'Immagine.</mat-hint>
	</mat-form-field>

	<!-- input Titolo Album -->
	<mat-form-field appearance="fill">
		<mat-label >Titolo Album</mat-label>
		<input [(ngModel)]="song.title" matInput placeholder="Titolo" />

		<mat-hint>Inserisci il titolo.</mat-hint>
	</mat-form-field>

	<!-- input Cantante Album -->
	<mat-form-field appearance="fill">
		<mat-label>Cantante</mat-label>
		<input [(ngModel)]="song.artist" matInput placeholder="Artists" />

		<mat-hint>Nome dell'Artista.</mat-hint>		
	</mat-form-field>


	<mat-form-field appearance="fill">
		<mat-label>Genre</mat-label>
		<input [(ngModel)]="song.genre" matInput placeholder="Genere" />

		<mat-hint>Genere.</mat-hint>	
		
		
	</mat-form-field>

	<mat-form-field>
		<mat-label>Textarea</mat-label>
		<textarea [(ngModel)]="song.description" matInput></textarea>
	  </mat-form-field>

<button (click)="addSong()" class="btn btn-dark">Aggiungi Canzone</button>
</div>
